*{
    font-family: inter;color: white;
    list-style-type: none;
}


.calc-container{
    height:844px;
    width:390px;
    background-color: #151515;
    border-radius: 40px;
    margin-left: 400px;}

.top-container{
    height: 322px;
    position: relative;}

.top-container{display: flex;flex-direction: column; justify-content:flex-end;}
.numbers{height: 200px;font-family:inter;color: white;font-size: 48px;text-align: end;padding-right: 20px;}
.icons{display: flex; justify-content: space-between;}
.icons-left img{width: 24px;height: 24px;padding: 10px;} .icons-right img{width: 24px;height: 24px;padding: 10px}
.icons-left{display:flex;justify-content:space-evenly;padding: 15px;}
.icons-right{display: flex;justify-content: end;padding: 15px}
.bottom-line{width: 390px;display: flex;}
.line{width: 352px;height:1px; background-color: #4E4D4D;margin-left: 19px;}

.bottom-container {
    height: 522px;
    flex-wrap: wrap;}
.bottom-container ul{
    display: flex; justify-content:space-evenly;}
.bottom-container ul li{
    height:75px;
    width:73px;
    border-radius: 9px;
    background-color: #343434;
    display: flex; align-items: center;justify-content: center;
    font-size: 36px;
    margin-right: 19px;
    margin-left: -19px;}
.calc-container ul .icon{font-family: inter;color: #66FF7F;}
#C{background-color:#FF5959;font-family: inter;color: #343434;}
#End{background-color: #66FF7F;font-family: inter;color: #343434;}

