.topnav {
    background-color: gray;
    overflow: hidden;
    position: sticky;top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}


    